<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Life</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="home">
    {% include 'header.html' %}
    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
        <div class="carousel-indicators">
            <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators"
                type="button"></button> <button aria-label="Slide 2" data-bs-slide-to="1"
                data-bs-target="#carouselExampleIndicators" type="button"></button> <button aria-label="Slide 3"
                data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators" type="button"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img alt="..." class="d-block w-100" src="/static/img/slide1.jpg">
                <div class="carousel-caption">
                    <h5>Kesehatan Fisik</h5>
                    <p>Olahraga membantu meningkatkan daya tahan tubuh dengan memperkuat sistem kekebalan dan meningkatkan sirkulasi darah.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img alt="..." class="d-block w-100" src="/static/img/slide2.jpg">
                <div class="carousel-caption">
                    <h5>Check-up Kesehatan</h5>
                    <p>Check-up kesehatan dapat membantu mendeteksi potensi masalah kesehatan sejak dini sebelum mereka berkembang menjadi kondisi yang lebih serius.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img alt="..." class="d-block w-100" src="/static/img/slide4.jpg">
                <div class="carousel-caption">
                    <h5>Pola Makanan</h5>
                    <p>Pola makan yang tepat memberikan energi yang cukup untuk aktivitas sehari-hari. Konsumsi makanan yang kaya nutrisi dapat meningkatkan konsentrasi, fokus, dan produktivitas.</p>
                </div>
            </div>
        </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
            type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span
                class="visually-hidden">Previous</span></button> <button class="carousel-control-next"
            data-bs-slide="next" data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true"
                class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
    </div><!-- about section starts -->
    <!-- <section class="about section-padding" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img"><img alt="" class="img-fluid" src="/static/"></div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, labore reiciendis. Assumenda
                            eos quod animi! Soluta nesciunt inventore dolores excepturi provident, culpa beatae tempora,
                            explicabo corporis quibusdam corrupti. Autem, quaerat. Assumenda quo aliquam vel, nostrum
                            explicabo ipsum dolor, ipsa perferendis porro doloribus obcaecati placeat natus iste odio
                            est non earum?</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- about section Ends -->
    <!-- Article starts -->
    <section class="article section-padding" id="article">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header text-center pb-5">
                        <h2>News Article</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4"><img alt="" class="img-fluid card-img-top"
                                    src="/static/artikel/artikel1.jpeg"></div>
                            <h3 class="card-title">Mencari Pola Makan Sehat di Indonesia</h3>
                            <p class="lead">Menurut penelitian UNICEF tahun 2017, sekitar separuh remaja Indonesia tidak
                                menyantap sarapan di rumah. Makanan pertama mereka untuk hari itu adalah apa pun juga
                                yang tersaji di sekolah. Umumnya, tidak ada aturan tentang jenis makanan yang bisa
                                dijual di kantin. Dengan begitu, biasanya, makanan yang ditawarkan bergantung pada
                                keputusan sekolah atau penjual di kantin. Selain itu, pembahasan tentang gizi dan
                                aktivitas sehat pun umumnya tidak mendapat banyak porsi di kurikulum sekolah. <br>

                                Faktor-faktor tersebut, dan perubahan pola makan (misalnya, kenaikan konsumsi makanan
                                tidak sehat) serta industrialisasi mendorong peningkatan angka berat badan berlebih di
                                kalangan remaja hingga dua kali lipat dalam kurun antara tahun 2004 dan 2013. Perhatian
                                Indonesia biasanya diarahkan pada upaya mengurangi angka kurang gizi—yang memang masih
                                menjadi masalah besar dengan sekitar 30 persen balita mengalami stunting. Namun, di
                                tengah ini semua, meningkat pula kesadaran mengenai pentingnya membangun pengetahuan dan
                                memperbaiki sikap serta perilaku remaja, keluarga mereka, dan masyarakat mengenai pola
                                makan yang baik dan aktivitas sehat. <br>

                                Hal di atas berarti gizi dan pesan-pesan mengenai nilai penting aktif secara fisik perlu
                                dimasukkan ke dalam kurikulum untuk murid seperti Zahfa. “Di rumah, saya menonton TV,”
                                katanya, “atau bertemu teman, makan, dan mengobrol di kafe.” Zahfa mencoba berolah raga
                                sekali atau dua kali sepekan, tetapi sulit menyesuaikan jadwalnya. “Sekolah selesai
                                pukul 4 sore. Kalau saya ke gym, saya baru sampai rumah lagi pukul 6 sore. Melelahkan.”
                            </p><a href="/artikel/detail" class="btn bg-warning text-dark">Selengkapnya</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4"><img alt="" class="img-fluid card-img-top"
                                    src="/static/artikel/artikel1.jpeg"></div>
                            <h3 class="card-title">Mencari Pola Makan Sehat di Indonesia</h3>
                            <p class="lead">Menurut penelitian UNICEF tahun 2017, sekitar separuh remaja Indonesia tidak
                                menyantap sarapan di rumah. Makanan pertama mereka untuk hari itu adalah apa pun juga
                                yang tersaji di sekolah. Umumnya, tidak ada aturan tentang jenis makanan yang bisa
                                dijual di kantin. Dengan begitu, biasanya, makanan yang ditawarkan bergantung pada
                                keputusan sekolah atau penjual di kantin. Selain itu, pembahasan tentang gizi dan
                                aktivitas sehat pun umumnya tidak mendapat banyak porsi di kurikulum sekolah. <br>

                                Faktor-faktor tersebut, dan perubahan pola makan (misalnya, kenaikan konsumsi makanan
                                tidak sehat) serta industrialisasi mendorong peningkatan angka berat badan berlebih di
                                kalangan remaja hingga dua kali lipat dalam kurun antara tahun 2004 dan 2013. Perhatian
                                Indonesia biasanya diarahkan pada upaya mengurangi angka kurang gizi—yang memang masih
                                menjadi masalah besar dengan sekitar 30 persen balita mengalami stunting. Namun, di
                                tengah ini semua, meningkat pula kesadaran mengenai pentingnya membangun pengetahuan dan
                                memperbaiki sikap serta perilaku remaja, keluarga mereka, dan masyarakat mengenai pola
                                makan yang baik dan aktivitas sehat. <br>

                                Hal di atas berarti gizi dan pesan-pesan mengenai nilai penting aktif secara fisik perlu
                                dimasukkan ke dalam kurikulum untuk murid seperti Zahfa. “Di rumah, saya menonton TV,”
                                katanya, “atau bertemu teman, makan, dan mengobrol di kafe.” Zahfa mencoba berolah raga
                                sekali atau dua kali sepekan, tetapi sulit menyesuaikan jadwalnya. “Sekolah selesai
                                pukul 4 sore. Kalau saya ke gym, saya baru sampai rumah lagi pukul 6 sore. Melelahkan.”
                            </p><button class="btn bg-warning text-dark">Selengkapnya</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="card text-light text-center bg-white pb-2">
                        <div class="card-body text-dark">
                            <div class="img-area mb-4"><img alt="" class="img-fluid card-img-top"
                                    src="/static/artikel/artikel1.jpeg"></div>
                            <h3 class="card-title">Mencari Pola Makan Sehat di Indonesia</h3>
                            <p class="lead">Menurut penelitian UNICEF tahun 2017, sekitar separuh remaja Indonesia tidak
                                menyantap sarapan di rumah. Makanan pertama mereka untuk hari itu adalah apa pun juga
                                yang tersaji di sekolah. Umumnya, tidak ada aturan tentang jenis makanan yang bisa
                                dijual di kantin. Dengan begitu, biasanya, makanan yang ditawarkan bergantung pada
                                keputusan sekolah atau penjual di kantin. Selain itu, pembahasan tentang gizi dan
                                aktivitas sehat pun umumnya tidak mendapat banyak porsi di kurikulum sekolah. <br>

                                Faktor-faktor tersebut, dan perubahan pola makan (misalnya, kenaikan konsumsi makanan
                                tidak sehat) serta industrialisasi mendorong peningkatan angka berat badan berlebih di
                                kalangan remaja hingga dua kali lipat dalam kurun antara tahun 2004 dan 2013. Perhatian
                                Indonesia biasanya diarahkan pada upaya mengurangi angka kurang gizi—yang memang masih
                                menjadi masalah besar dengan sekitar 30 persen balita mengalami stunting. Namun, di
                                tengah ini semua, meningkat pula kesadaran mengenai pentingnya membangun pengetahuan dan
                                memperbaiki sikap serta perilaku remaja, keluarga mereka, dan masyarakat mengenai pola
                                makan yang baik dan aktivitas sehat. <br>

                                Hal di atas berarti gizi dan pesan-pesan mengenai nilai penting aktif secara fisik perlu
                                dimasukkan ke dalam kurikulum untuk murid seperti Zahfa. “Di rumah, saya menonton TV,”
                                katanya, “atau bertemu teman, makan, dan mengobrol di kafe.” Zahfa mencoba berolah raga
                                sekali atau dua kali sepekan, tetapi sulit menyesuaikan jadwalnya. “Sekolah selesai
                                pukul 4 sore. Kalau saya ke gym, saya baru sampai rumah lagi pukul 6 sore. Melelahkan.”
                            </p><button class="btn bg-warning text-dark">Selengkapnya</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Article ends -->
    <!-- footer starts -->
    <footer class="bg-dark p-2 text-center">
        <div class="container">
            <p class="text-white">Kelompok 6 Learning X batch 5</p>
        </div>
    </footer>
    <!-- footer ends -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>